body {
    background-color: #fff;
    font-family: opensans, sans;
}

h1 {
    margin: 4px;
    font-size: 3vw;
}

.container {
    max-width: 70%;
    margin: auto;
    text-align: center;
}

.cards {
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.block {
    display: block;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 0;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 50%;
    min-width: 0;
    border-radius: .20rem !important;
    padding: 5px !important;
    height: 20px !important;
    border: 1px solid #ced4da !important;
}

.table, td {
    border: 1px solid black;
    margin: auto;
}

.bor {
    border: 1px solid;
    padding: 1px;
}

.lbl {
    margin: auto;
    margin-top: 10px;
    position: relative;
}

.form {
    margin: auto;
}

.submit {
    margin-top: 15px;
    width: 40%;
    height: 45px !important;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

.styl-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styl-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styl-table th,
.styl-table td {
    padding: 12px 15px;
}

.styl-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styl-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styl-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
